<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <title>invpush - Buy And Sell Office Equipment</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Buy and sell office equipment" />
    <meta name="keywords" content="Office equipment, startup office furniture, sell office furnitures, electronics, computers, buy used office equipment" />
</head>

<body>
<header id="intro">
    <img src="logo.png" class="logo" alt="invpush" />
	<h1>Buy and sell office equipment</h1>
	<p>
		We are getting things ready for our big launch. <br />
		Meanwhile, you can browse: <a href="http://www.ikea.com/us/en/catalog/categories/departments/workspaces/">Office Furniture</a>, <a href="http://www.costco.com/business-equipment.html">Business equipment</a> or <a href="http://nationwideofficeliquidators.com/sell-your-office-furniture">sell your office furnitures</a>.
	</p>
</header>
</body>

</html>
